/* pretendard 폰트 (프로젝트 로고를 제외한 전체적인 요소에 적용됨) */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

/* Barlow 폰트 (프로젝트 로고) */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #023047;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  width: 430px;
  height: 932px;
  background-color: white;
}

/* 헤더 스타일링 */
.container > :nth-child(1) {
  width: 430px;
  height: 123px;
  color: black;
}

/* 헤더 타이틀 문구 스타일링 */
.container > :nth-child(1) > :nth-child(1) {
  font-size: 36px;
  font-weight: bold;
  padding: 36px;
}

/* App 내부 페이지 스타일링 */
.container > :nth-child(2) {
  width: 430px;
  height: 709px;
  background-color: white;
}

/* 내비게이션 바 스타일링 */
.container > :nth-child(3) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 430px;
  height: 100px;
  background-color: #3b56d3;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.navigation :nth-child(-n + 3) {
  cursor: pointer;
}

/* 로그인 후 홈 화면 스타일링 */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* main 내부 박스 스타일링 */
.mainInBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 360px;
  height: 100%;
  gap: 5px;
}

.main::-webkit-scrollbar {
  display: none;
}

/* 내정보 계좌 스타일링  */
.myAccount {
  border: 1px #c4c4c4 solid;
  display: flex;
  justify-content: center;
}
/* 내정보 입출금 창 버튼 스타일링 */
.number-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button {
  padding: 10px;
  width: 100px;
}

/* 내정보 내 택시 상자 */

.showTaxiContainerBox {
  width: 360px;
  height: 400px;
}
.showTaxiAccount::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
}

/* 회원가입 페이지 스타일링 */

/* 상자 스타일링 */

.grayColorBox {
  border: 1px #c4c4c4 solid;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
/* 회원가입 페이지 스타일링 */
.BackgroundColorGray {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 649px;
  justify-content: space-around;
}

/* 입력창 스타일링 */
.inputText {
  box-sizing: border-box;
  width: 340px;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* 회원가입 내부 스타일링 */
.inputWhiteBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 340px;
  height: 160px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
}

.signUpText {
  width: 347px;
}

.allCheck {
  margin-bottom: 5px;
}

.createTaxiButton{
  position: sticky;
  bottom: 30px;
  font-size: 42px;
  display: flex;
  flex-direction: row-reverse;
  width: 345px;
  }