.newsArea {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  width: 340px;
  height: 800px;
} 

.newsArea::-webkit-scrollbar {
  display: none;
}


.playListHeader {
  min-width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.otherPlayList {
  display: flex;
  flex-direction: row-reverse;
}