.newsArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  width: 340px;
  height: 800px;
  gap: 15px;
}

.newsArea::-webkit-scrollbar {
  display: none;
}

/* 
1. minHeight: "80px" // 최소 박스 크기 

2. .innerBox {
  height: 100px;
  flex-shrink: 0;
  } // 내부 박스의 크기를 유지 */